<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.yoursapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYKuZbyDEiiEXi43TCxQbk6NiIuiDQzU8" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreenOneActivity"
            android:label="Welcome To FoodCubo"
            android:theme="@style/MainActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".Home" />
        <activity android:name=".Cart" />
        <activity android:name=".OrderStatus" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".FoodList" />

        <service android:name=".Service.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Showcomment" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity
            android:name=".NearbyStore"
            android:label="@string/title_activity_nearby_store" />
        <activity
            android:name=".TrackingOrder"
            android:label="@string/title_activity_tracking_order"></activity>
    </application>

</manifest>